@import "../_config.scss";

#hero {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #hero {
    width: 95%;
    flex-direction: column;

    .headline {
      padding-right: 0;
      width: 100%;

      &-writeup {
        flex-direction: column;

        &-heading {
          width: 100%;
          font-size: 1.5rem;
          margin: 0;
        }

        &-detail {
          width: 100%;

          button {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
