@import "../config.scss";

nav {
  padding: 1rem 0;
  width: 80%;
  margin: 0 auto;

  .navbar__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  img {
    width: 100px;
  }

  ul {
    display: flex;
    align-items: center;

    li {
      margin-left: 2rem;
      font-size: 1.2rem;

      a {
        color: $gray;
      }

      a:hover {
        color: $orange;
        cursor: pointer;
      }
    }
  }

  .navbar__mobile {
    display: none;

    img {
      cursor: pointer;
    }

    .navbar__mobile-container {
      z-index: 4;
      background: white;
      padding: 2rem;
      position: absolute;
      top: 60px;
      right: 50px;
      height: 100%;
      margin-top: 1rem;
      min-width: 210px;
      border-radius: 5px;
      box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);

      ul {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        text-align: end;
        li {
          padding: 0.5rem;

          a {
            color: $gray;
            font-size: 1.1rem;
          }

          a:hover {
            color: $orange;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    img {
      padding-top: 1rem;
    }

    .navbar__desktop {
      display: none;
    }

    .navbar__mobile {
      display: block;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
